<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Lakastah{% endblock %}</title>
</head>

<body>

    <nav>
        <a href="{% url 'home' %}">
            Lakastah
        </a>

        <a href="#">Explore</a>
        <a href="#">Volunteer</a>
        <a href="#">Workshops</a>
        <a href="#">Submit</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>